<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="backPrevious()"></ion-back-button>
    </ion-buttons>
  
    <ion-title>Carrinho </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<br>
<br>
  <h3 style="margin-left: 38%;">  Meus Itens</h3>


  <ion-card>
  <ion-item>
    <ion-thumbnail>
      <img src="/assets/pedidos-2.jpg">
    </ion-thumbnail>
    <ion-label>ion-item in a card, icon left, button right</ion-label>
    <ion-button fill="outline" slot="end">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-card-content>
    This is content, without any paragraph or header tags,
    within an ion-card-content element.
  </ion-card-content>
</ion-card>

</ion-content>
