<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Notificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <br>
  <br>


  <ion-card>
    <ion-card-header>
      <ion-thumbnail>
        <img src="/assets/cardapio/pizza/chocolate-pizza.jpg">
      </ion-thumbnail>
      <ion-card-title>Nova Pizza De Chocolate!</ion-card-title>
      <ion-card-subtitle>Doçura em doubro com nova pizza</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      Quem gosta de Pizza já levanta a mão! Sempre que como pizza salgada sinto vontade de comer
       algo doce e eis que eu vou ensinar essa pizza doce que é uma sobremesa e tanto. E o melhor
        não é difícil de fazer.

    </ion-card-content>
  </ion-card>

</ion-content>
