<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Bebidas</ion-title>
    <ion-button fill="clear" slot="end"  (click)="carrinhoPage()">
      <ion-icon  name="cart-outline" style="zoom:1.5;" ></ion-icon>
      <ion-badge slot="start">2</ion-badge>
    
    </ion-button>  
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>
     
    <ion-list-header>
      <ion-label>Bebidas Alcolicas </ion-label>
    </ion-list-header>
   
      <ion-item-sliding>
      <ion-item (click)="addItem()" button>
      
        <ion-thumbnail slot="start">
        <img src="/assets/cardapio/bebidas/coca-cola-2-litros.jpg">
      </ion-thumbnail>
      <ion-label>Coca Cola 2 litros </ion-label>
      <ion-label  slot="end">$5.50</ion-label>
      <ion-button slot="end"> 
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option>Remover</ion-item-option>
    </ion-item-options>
 </ion-item-sliding>


    <ion-item-sliding>
      <ion-item button>

      <ion-thumbnail slot="start">
        <img src="/assets/cardapio/bebidas/Refrigerante-Guaraná-Antarctica-2l.jpg">
      </ion-thumbnail>
      <ion-label>Guaraná Antartica</ion-label>
      <ion-label  slot="end">$5.50</ion-label>
      <ion-button slot="end"> 
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option>Remover</ion-item-option>
    </ion-item-options>

</ion-item-sliding>


    <ion-item-sliding>
    <ion-item button>
      <ion-thumbnail slot="start">
        <img src="/assets/cardapio/bebidas/refrigerante-fanta-laranja.jpg">
      </ion-thumbnail>
      <ion-label>Fanta Laranja</ion-label>
      <ion-label  slot="end">$5.50</ion-label>
      <ion-button slot="end"> 
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option>Remover</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  </ion-list>
  
  <ion-list>
    
    <ion-list-header>
      <ion-label>Bebidas Alcolicas </ion-label>
    </ion-list-header>
 
    
    <ion-item-sliding>
    <ion-item button>
      <ion-thumbnail slot="start">
        <img src="/assets/cardapio/bebidas/cerveja-heineken.jpg">
      </ion-thumbnail>
      <ion-label>Cerveja Heneken  </ion-label>
      <ion-label  slot="end">$5.50</ion-label>
    
      <ion-button slot="end"> 
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option>Remover</ion-item-option>
    </ion-item-options>
 </ion-item-sliding>
 
    <ion-item-sliding>
      <ion-item button>

      <ion-thumbnail slot="start">
        <img src="/assets/cardapio/bebidas/brahma.jpg">
      </ion-thumbnail>
      <ion-label>Cerveja Brahma</ion-label>
      <ion-label  slot="end">$5.50</ion-label>
      <ion-button slot="end"> 
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option>Remover</ion-item-option>
    </ion-item-options>
</ion-item-sliding>


  </ion-list>


</ion-content>
