<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>perfilPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="pedidos-container">
  
    <ion-row class="pedidos-itens">
      <ion-col size="12">
        <div class="pedidos-precos">
          <div class="img-sidemenu"> 
            <img [src]="foto">
          </div>
          
          <h3 style="margin: auto;">{{name}}</h3>
        </div>

      </ion-col>
      


    </ion-row>

  </div>

  <ion-item>
    <ion-label position="floating">Nome :</ion-label>
    <ion-input type="text" value="{{name}}" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Numero de telefone :</ion-label>
    <ion-input type="text" value="" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Foto Perfil</ion-label>
    <ion-select  interface="action-sheet" placeholder="Escolha foto perfil">

      <ion-select-option value="red">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
          <ion-label>Item Thumbnail</ion-label>
        </ion-item>
     
 
      </ion-select-option>
      <ion-select-option value="purple">
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-item>
         
          <ion-label>Item Thumbnail</ion-label>
        </ion-item>
  
 
      </ion-select-option>
      <ion-select-option value="yellow">Yellow</ion-select-option>
      <ion-select-option value="orange">Orange</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
    </ion-select>
  </ion-item>

  <br>
  <br> 
</ion-content>