<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar" defaultHref="home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="pedidos-container">
  
    <ion-row class="pedidos-itens">
      <ion-col size="12">
        <div class="pedidos-precos">
          <div class="img-sidemenu"> 
            <img [src]="foto">
          </div>
          
          <h3 style="margin: auto;">{{name}}</h3>
        </div>

      </ion-col>
      


    </ion-row>

  </div>

  <form class="perfil-cadastro">
    <label for="fname">Nome :</label>
    <input type="text" value="{{name}}">
    <br>
    <br>
    <label for="lname">Numero de telefone :</label>
    <input type="text">
    <br>
    <br>
    <ion-item>
      <ion-label>Foto Perfil</ion-label>
      <ion-select  interface="action-sheet" placeholder="Escolha foto perfil">
  
        <ion-select-option value="red">
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>Item Thumbnail</ion-label>
          </ion-item>
       
   
        </ion-select-option>
        <ion-select-option value="purple">
          <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
          <ion-item>
            <ion-label>Item Thumbnail</ion-label>
          </ion-item>
   
        </ion-select-option>
        <ion-select-option value="yellow">Yellow</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
        <ion-select-option value="green">Green</ion-select-option>
      </ion-select>
    </ion-item>
  </form>
  
</ion-content>