
<ion-content>

  <ion-item-group>
    <ion-item lines="none" >
      <ion-img src="/assets/logo.png"></ion-img>
    </ion-item>
    <h1>RestauranteDelivery</h1>
    
    <ion-input  placeholder='Email' [(ngModel)]="email" required></ion-input>

    <ion-input  type="password"  [(ngModel)]="senha" required placeholder='Senha'></ion-input>
    
    <ion-button type="submit" expand="block" class="btn-entrar" (click)="login()">Entrar</ion-button>

    <hr>

    <ion-button expand="block" class="btn-facebook" (click)="facebookLogin()">
      <ion-icon name="logo-facebook"></ion-icon>
      Entrar Com Facebook
    </ion-button>
    
    <p>Ainda Não tem uma conta? <span class="call" routerLink="/cadastro" routerDirection="root">Cadastre-se</span></p>
  </ion-item-group>  

</ion-content>
