ion-tabs{
  --background: #fff;
}

.lista-menu{
  list-style: none;
  padding: 0;
  li{
    padding-left: 15px;
    padding: 15px 10px;
    border-top: 2px solid #cacaca;
    display: flex;
    align-items: center;
    ion-icon{
      width: 1.2em;
      height: 1.2em;
      margin-right: 8px;
    }
  }
  li:hover{
    background: rgba(210, 210, 210, 0.4);
  }
  li:last-child{
    border-bottom: 2px solid #cacaca;

  }
}
:host {

  
  .btns-item ion-button{
    --background: #F5EEE9;
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }
  .btns-item ion-button:hover{
    --background: #DACABE;
  }
  
}

.pedidos-precos{
  display: flex;
  flex-direction: column;
  .img-sidemenu{
    margin-bottom: 15px;
    margin-top: 10px;
  }
  h3{
    font-size: 20px;
    text-transform: uppercase;
  }
}