.header-ios ion-toolbar:last-of-type {
  --border-width: 0;
}
ion-toolbar{
  border-bottom: 2px solid #cacaca;
  ion-back-button{
    font-weight: bold;
    font-size: 15px;
  }
}

.perfil-cadastro{
  width: 320px;
  margin: 0 auto;
  label{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
  }
  input,select,textarea{
    border: 2px solid #cacaca;
    width: 100%;
    background: #f5f4f4;
    padding: 10px;
    border-radius: 5px;
  }
  .btn-ajuda{
    width: 100%;
    border: 2px solid #d42015;
    background: linear-gradient(to right, #f00000, #d42015);
    color: black;
    padding: 15px 10px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
  }
  .btn-ajuda:hover{
    background: #db6c66;
  }
}