<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>

  <form class="perfil-cadastro">
    <label>Titulo:</label>
    <input type="text">
    <br>
    <br>
    <label for="problema">Qual Problema?</label>

    <select name="problema" id="problema">
      <option>Entregador não chegou.</option>
      <option>Meu pedido veio errado.</option>
      <option>Relatar um Problema no App.</option>      
      <option>Reclamação de atendimento.</option>      
      <option>Cobraça no cartão indevida.</option>      
      <option>Houve um problema com entregador.</option>      
      <option>Preciso de um reembolso.</option>      
    </select>
    <br> 
    <br>
   <label>Descreva seu problema :</label>
   <textarea cols="30" rows="10"></textarea>
   <br>
   <br>
   <button class="btn-ajuda">Enviar para suporte</button>
  </form>

</ion-content>
