
.header-ios ion-toolbar:last-of-type {
  --border-width: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.cabecalho-itens{
   display: flex; 
   flex-direction: row-reverse; 
   justify-content: space-between;
}
.toolbar-cabecalho{
   flex-direction: row-reverse; 
}

.pedidos-container{
  width: 290px;
  margin: 0 5px;
  h2{
    font-weight: bold;
    font-size: 17px;
  }
}
.pedidos-precos{
  display: flex;  
  span{
    font-size: 12px;
    font-weight: bold;  
    margin-left: 10px;
  }
}
.pedidos-img{
  position: relative;
  width: 68px;
  height: 60px;

}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.55);
    mix-blend-mode: darken;
    border-radius: 10px;
}
.pedidos-preco{
   text-align: right; 
   color: var(--ion-color-secondary);
   margin-left: 43px;
   font-weight: bold;
}
.pedidos-btn{
   width: 80px;
   height: 25px;  
   --background: var(ion-color-primary);
   font-size: 10px;
   font-weight: bold;  
   --color: var(ion-color-primary-contrast);
   margin-top: 10px;
}
.pedidos-itens{
  margin-bottom: 20px;  
}

:host {
  ion-item{
    --border-color: var(--ion-color-medium);

  }
  ion-item:hover{
    --background: rgba(210, 210, 210, 0.4);
  }
  ion-item:first-child{
    border-top: 1px solid var(--ion-color-medium);
    --border-color: var(--ion-color-medium);
  }
  .btns{
    margin-top: 20px;
    margin: 20px 5px;
    display: flex;
    .btns-item{
      display:flex;
      flex-direction:column;
      width: 60px;
      margin-right: 15px;
      align-items: center;
       span{
         margin-top: 5px;
        font-size: 13px;
        font-weight: medium;
        text-align: center;
       }
    }

  }
  
  .btns-item ion-button{
    --background: #F5EEE9;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(94, 93, 93, 0.2);
  }
  .btns-item ion-button:hover{
    --background: #DACABE;
  }
  
}

:host{
  .banner{
    --size: 365px;
    --border-radius:10px;
    height: 125px;
    margin: 30px 5px;
  }
}