
.header-ios ion-toolbar:last-of-type {
  --border-width: 0;
  // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.header{
  border-bottom: 2px solid #cacaca;
  box-shadow: none;
}


.lista-menu{
  list-style: none;
  padding: 0;

  li{
    padding-left: 15px;
    padding: 10px;
  }
  li:hover{
    background: rgba(210, 210, 210, 0.4);
  }
  li:last-child{
    border-bottom: 2px solid #cacaca;

  }
}
.cabecalho-itens{
   display: flex; 
   box-shadow: 0px 4px 8px 3px rgba(186,186,186,0.82);
   align-items: center;
}
.img-profile{
  width: 50px;
  margin: 5px;
}
.tab1-titulo{
  color:#201e13;
  margin: 0;
  margin-left: 5px;
}
.toolbar-cabecalho{
   flex-direction: row-reverse; 
}
.btns{
  margin: 30px 5px;
  display: flex;
  justify-content: space-around;
  .btns-item{
    display:flex;
    flex-direction:column;
    width: 60px;
    align-items: center;
     span{
       margin-top: 10px;
      font-size: 13px;
      font-weight: 500;
      text-align: center;
     }
  }
}
.btns-item button{
  background: #DACABE;
  width: 55px;
  height: 55px;
  border-radius: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px 3px rgb(186 186 186 / 82%);
}
.btns-item button:hover{
  background:#e0b99c;
}

.banner{
  width: 350px;
  border-radius: 10px;
  height: 125px;
  margin: 20px auto;
}


.img-sidemenu{
  position: relative;
  width: 68px;
  height: 60px;
  margin: auto;

}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.55);
    mix-blend-mode: darken;
    border-radius: 10px;
}

.pedidos-btn{
   width: 80px;
   height: 25px;  
   --background: var(ion-color-primary);
   font-size: 10px;
   font-weight: bold;  
   --color: var(ion-color-primary-contrast);
   margin-top: 10px;
}

:host {
  ion-item{
    --border-color: var(--ion-color-medium);
  }
  ion-item:hover{
    --background: rgba(210, 210, 210, 0.4);
  }
  ion-item:first-child{
    border-top: 1px solid var(--ion-color-medium);
    --border-color: var(--ion-color-medium);
  }
  
  
  .btns-item ion-button{
    --background: #F5EEE9;
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }
  .btns-item ion-button:hover{
    --background: #DACABE;
  }
  
}

:host{
  
  .mais-pedidos{
    margin:15px 0;
  }
  .mais-pedidos h2{
    font-weight: bold;
    font-size: 16px;
    margin-left: 15px;
    color: var(--ion-text-color);
  }

.img-slid{
  padding: 5px;
  }

  
  .botao-menu{
    left: -100px;
    ion-icon{
      width: 2em;
      height: 2em;
      color:#201e13;
    }
  }

}

