<ion-header>
  <ion-toolbar>
    <ion-title>
  
      <ion-icon name="menu-outline" (click)="openCustom()"></ion-icon>
    
    </ion-title>
   
  </ion-toolbar>
 
</ion-header>

<ion-content [fullscreen]="false">
   
  <ion-router-outlet id="main"></ion-router-outlet>


  <ion-item>
    <ion-label>Endereço</ion-label>
    <ion-select  interface="action-sheet" placeholder="Selecionar Endereço">
      <ion-select-option value="yellow">Yellow</ion-select-option>
      <ion-select-option value="orange">Orange</ion-select-option>
      <ion-select-option value="green">Green</ion-select-option>
    </ion-select>
  </ion-item>
<br>
<br>
  <!-- Navegação Dos Botões -->
  <div class='btns'>
    
    <div class='btns-item'>
       <ion-button  href="/bebidas" routerDirection="backward">
        <img src='/assets/bebida.png'>
      </ion-button>
      <span>Bebidas</span>
    </div>
    
    <div class='btns-item'>
      <ion-button>
        <img src='/assets/pizza.png'>
      </ion-button>
      <span>Pizzas</span>
    </div>

    <div class='btns-item'>
      <ion-button>
        <img src='/assets/hamburger.png'>
      </ion-button>
      <span>Hamburgers</span>
    </div>

    <div class='btns-item'>
      <ion-button>
        <img src='/assets/comida-de-rua.png'>
      </ion-button>
      <span>Comidas de Rua</span>
    </div>

    <div class='btns-item'>
      <ion-button>
        <img src='/assets/churrasco.png'>
      </ion-button>
      <span>Churrasco</span>
    </div>
  </div>
  
  <div class="banner"> 
    <img src="/assets/banner.jpg"/>
  </div>

  <div class="mais-pedidos">
    <h2>Mais Pedidos</h2>
      <ion-slides>
        
        <ion-slide>
         
            <img class="img-slid" src="/assets/slider-img-1.png"/>
            <img class="img-slid" src="/assets/slider-img-2.png"/>
            <img class="img-slid" src="/assets/slider-img-3.png"/>

        </ion-slide>


        <ion-slide>
          <img class="img-slid" src="/assets/slider-img-1.png"/>
          <img class="img-slid" src="/assets/slider-img-2.png"/>
          <img class="img-slid" src="/assets/slider-img-1.png"/>

        </ion-slide>

        
      </ion-slides>  

  </div>

  
</ion-content>
