<ion-header>
  <div>

    <div class="cabecalho-itens">
      <div slot="end" (click)="openCustom()" class='img-profile'>
        <img [src]="foto">
      </div>
      <h1 class="tab1-titulo">{{ name }}</h1>
    </div>

  </div>
 
</ion-header>

<ion-content [fullscreen]="true">
   
  <ion-router-outlet id="main"></ion-router-outlet>

  
  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar>

        <div class="toolbar-cabecalho">
          <ion-title>
            {{ name }}
          </ion-title>
  
          <ion-thumbnail slot="end">
            <img [src]="foto">
          </ion-thumbnail>
        </div>
        
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <div class="pedidos-container">
        <ion-text>
          <h2>Pedidos</h2>
        </ion-text>

        <ion-row class="pedidos-itens">
          <ion-col size="8">
            <div class="pedidos-precos">
              <div class="pedidos-img">
                <img src="/assets/pedidos-1.jpg">
                <div class="overlay"></div>
              </div>
              
              <span>Combo Fast-food</span>
            </div>

          </ion-col>
          <ion-col size="4" >
            <span class="pedidos-preco">19,90</span>

            <ion-button href="#" class="pedidos-btn">Ver Pedido</ion-button>
          </ion-col>
        </ion-row>

      </div>

      <ion-list>
        <ion-item detail lines="full">Chat</ion-item>
        <ion-item detail lines="full">Lista de endereço</ion-item>
        <ion-item detail lines="full">Notificações</ion-item>
        <ion-item detail lines="full">Ajuda</ion-item>
        <ion-item detail lines="full">Sair</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <!-- Navegação Dos Botões -->
  <div class='btns'>
    
    <div class='btns-item'>
      <button>
        <img src='/assets/bebida.png'>
      </button>
      <span>Bebidas</span>
    </div>
    
    <div class='btns-item'>
      <button>
        <img src='/assets/pizza.png'>
      </button>
      <span>Pizzas</span>
    </div>

    <div class='btns-item'>
      <button>
        <img src='/assets/hamburger.png'>
      </button>
      <span>Hamburgers</span>
    </div>

    <div class='btns-item'>
      <button>
        <img src='/assets/comida-de-rua.png'>
      </button>
      <span>Comidas de Rua</span>
    </div>

    <div class='btns-item'>
      <button>
        <img src='/assets/churrasco.png'>
      </button>
      <span>Churrasco</span>
    </div>
  </div>
  
  <div class="banner"> 
    <img src="/assets/banner.jpg"/>
  </div>

  <div class="mais-pedidos">
    <h2>Mais Pedidos</h2>
      <ion-slides>
        
        <ion-slide>
         
            <img class="img-slid" src="/assets/slider-img-1.png"/>
            <img class="img-slid" src="/assets/slider-img-2.png"/>
            <img class="img-slid" src="/assets/slider-img-3.png"/>

        </ion-slide>


        <ion-slide>
          <img class="img-slid" src="/assets/slider-img-1.png"/>
          <img class="img-slid" src="/assets/slider-img-2.png"/>
          <img class="img-slid" src="/assets/slider-img-1.png"/>

        </ion-slide>

        
      </ion-slides>  

  </div>



  
</ion-content>
