<ion-header [translucent]="true">
  <ion-toolbar>

    <div class="cabecalho-itens">
      <ion-title>
        {{ name }}
      </ion-title>
      <ion-thumbnail slot="end" (click)="openCustom()">
        <img [src]="foto">
      </ion-thumbnail>
    </div>

  </ion-toolbar>
 
</ion-header>

<ion-content [fullscreen]="true">
   
  <ion-router-outlet id="main"></ion-router-outlet>

  
  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar>

        <div class="toolbar-cabecalho">
          <ion-title>
            {{ name }}
          </ion-title>
  
          <ion-thumbnail slot="end">
            <img [src]="foto">
          </ion-thumbnail>
        </div>
        
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <div class="pedidos-container">
        <ion-text>
          <h2>Pedidos</h2>
        </ion-text>

        <ion-row class="pedidos-itens">
          <ion-col size="8">
            <div class="pedidos-precos">
              <div class="pedidos-img">
                <img src="/assets/pedidos-1.jpg">
                <div class="overlay"></div>
              </div>
              
              <span>Combo Fast-food</span>
            </div>

          </ion-col>
          <ion-col size="4" >
            <span class="pedidos-preco">19,90</span>

            <ion-button href="#" class="pedidos-btn">Ver Pedido</ion-button>
          </ion-col>
        </ion-row>

      </div>

      <ion-list>
        <ion-item detail lines="full">Chat</ion-item>
        <ion-item detail lines="full">Lista de endereço</ion-item>
        <ion-item detail lines="full">Notificações</ion-item>
        <ion-item detail lines="full">Ajuda</ion-item>
        <ion-item detail lines="full">Sair</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <!-- Navegação Dos Botões -->
  <div class='btns'>
    
    <div class='btns-item'>
      <ion-button>
        <img src='/assets/bebida.png'>
      </ion-button>
      <span>Bebidas</span>
    </div>
    
    <div class='btns-item'>
      <ion-button>
        <img src='/assets/pizza.png'>
      </ion-button>
      <span>Pizzas</span>
    </div>

    <div class='btns-item'>
      <ion-button>
        <img src='/assets/hamburger.png'>
      </ion-button>
      <span>Hamburgers</span>
    </div>

    <div class='btns-item'>
      <ion-button>
        <img src='/assets/comida-de-rua.png'>
      </ion-button>
      <span>Comidas de Rua</span>
    </div>

    <div class='btns-item'>
      <ion-button>
        <img src='/assets/churrasco.png'>
      </ion-button>
      <span>Churrasco</span>
    </div>
  </div>
  
  <ion-thumbnail class='banner'>
    <img src="/assets/banner.jpg">
  </ion-thumbnail>


</ion-content>
