<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Meus Endereços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" edge horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <br>
  <br>
  <br>

  <ion-card>
    <ion-card-header>
      <ion-thumbnail>
        <img src="/assets/map-icon.png">
      </ion-thumbnail>
      <ion-card-title>Minha Casa</ion-card-title>
      <ion-card-subtitle>Rua Francisco Sampaio, 259-A, Padre júlio Maria -Caucaia</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-card-header>
      <ion-thumbnail>
        <img src="/assets/map-icon.png">
      </ion-thumbnail>
      <ion-card-title>Casa da minha mãe</ion-card-title>
      <ion-card-subtitle>Rua Santos Dumont, 940-B, P. Potira -Caucaia</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-card-header>
      <ion-thumbnail>
        <img src="/assets/map-icon.png">
      </ion-thumbnail>
      <ion-card-title>Casa do Primo</ion-card-title>
      <ion-card-subtitle>Rua Caio Prado, 922-A, P.Potira -Caucaia</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>
