<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Formas de Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <br>
  <br>
  <br>

<ion-card>
 <ion-item button>
  <ion-icon name="cash-outline"></ion-icon>
  <br>
  <ion-label> Minha Carteira :</ion-label>
  <h2>$ 25.00</h2>
  </ion-item>
</ion-card>
  

<ion-card>
  <ion-item button>
    <ion-icon name="card-outline"></ion-icon>
    <br>
   <ion-label> Meu Cartão Master :</ion-label>
   </ion-item>
 </ion-card>
   
 <ion-button expand="block" fill="outline">Adicionar forma de pagamento</ion-button>

</ion-content>
