
<ion-content>

  <ion-item-group>
    <ion-item lines="none" >
      <ion-img src="/assets/logo.png"></ion-img>
    </ion-item>

    <h1>RestauranteDelivery</h1>

    <ion-item lines="none" >
      <p>Culpa officia ullamco qui do ex officia duis irure culpa. Pariatur id magna elit exercitation cupidatat minim deserunt adipisicing.</p>
    </ion-item>

    <ion-item  lines="none" >
      <div class='btns'>
        <ion-button class='btn-entrar'>Entrar</ion-button>
        <ion-button class='btn-cadastro'>Cadastre-se</ion-button>
      </div>
    </ion-item>  

  </ion-item-group>

</ion-content>
