
<ion-content>

  <ion-item-group>
    <div class="logo-inicio">
      <img src="/assets/logo.png" />
    </div>

    <h1>RestauranteDelivery</h1>

    <ion-item lines="none" >
      <p>Culpa officia ullamco qui do ex officia duis irure culpa. Pariatur id magna elit exercitation cupidatat minim deserunt adipisicing.</p>
    </ion-item>

    <ion-item  lines="none" >
      <div class='btns'>
        <button class='btn-entrar' routerLink="/login" routerDirection="root">Entrar</button>
        
        <button  class='btn-cadastro' routerLink="/cadastro" routerDirection="root">Cadastre-se</button>
      </div>
    </ion-item>  

  </ion-item-group>

</ion-content>
